@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: sans-serif;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}
