@media screen and (min-width: 960px) {
  html {
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  padding: 0 !important;
  font-family: sans-serif;
  font-feature-settings: 'cv10' 1;
}

/* Fix for Firefox */
iframe {
  border: none;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
  }
}
